@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

* {
    background-color: white;
    font-family: 'NTR', sans-serif;
}

h2 {
    line-height: 60%;
    padding: 10px;

}

a:link {
    color: rgb(232, 106, 150);
  }
  
a:visited {
    color: rgb(57, 30, 66);
  }
  
a:hover {
    color: hotpink;
  }
  
a:active {
    color: rgb(90, 22, 66);
  }

  li {
    list-style-type: none;
    position: relative;
    padding-left: 25px;
  }
  
  li:before {
    content: "\25BA \0020";
    font-size: 6px;
    position: absolute;
    top: 5px;
    left: 10px;
  }

a.linkedin, a.github, a.email {
    font-size: 25px;
    color: black;
    margin-right: 8px; 
    padding-left: 20px;
}

footer {
    bottom: 0;
    position: relative;
    width: 100%;
}

.footer {
    height: 100px;
    margin: auto;
    width: 400px;
    text-align: center;
    padding: 10px;
    color: black;
}



/* ============= MEDIA QUERIES (MEDIUM DEVICES) ============= */
/*
@media screen and (max-width: 1024px) {
  .experience__container {
      grid-template-columns: 1fr;
  }

  .experience__container > div {
      width: 80%;
      padding: 2rem;
      margin: 0 auto;
  }

  .experience__content {
      padding: 1rem;
  }
}
*/

/* ============= MEDIA QUERIES (SMALL DEVICES) ============= */
/*
@media screen and (max-width: 600px) {
  .container, .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 auto;
  }

  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 auto;
  }
  
  .right {
    display: flex;
    align-items: center;
  }

  .about-image {
    display: flex;
    align-items: center;
    flex-shrink: 2;
  }

}
*/